#bottom-container {
    display: flex;
    justify-content: center;
}
#buttons{
    display: flex;
    flex: 2;
    gap: 8px;
    justify-content: center;
}
.button {
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 5%;
}
#container {
    display: flex;
    flex-direction: column;
}
#top-container {
    display: flex;
}
#score {
    flex: 1;
}